.quizBtn {

}


.quizQuestion {
  
}

.headerBar {
    border-bottom: 2px solid black;
}

.msgDiv {

}
.notLoggedInMsg {

}
.home {

}
.btnPartHeader {

}

.index {
  
}




.cell-to-insert {

}

.btnPart {

}
.btn {

}

.btnDeActive {

}

.calendarContainer {
    background-color: aliceblue;
}

.menuEditor {
    border: 1px solid black
}
