.searchResult {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    display: block
}

.searchProfile:hover {
    display: inline-block;
    cursor: pointer;
}


.headerBar {
    border-bottom: 2px solid black;
}