.searchResult {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    display: block
}

.searchProfile:hover {
    display: inline-block;
    cursor: pointer;
}

.profileDiv {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.friendRequestsDiv {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.friendsDiv {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.headerBar {
    border-bottom: 2px solid black;
}